<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lineas Unidas</title>
    <style>
    
        .menu {
            text-align: right; 
            margin-right: 200px;
            margin-bottom: 20px; 
        }

        .menu a {
            display: inline-block;
            margin-left: 40px;
            padding: 10px 15px;
            color: rgb(11, 11, 11);
            text-decoration: none;
        }

        h1 {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="menu">
        <a href="/">Inicio</a>
        <a href="/boleto">Comprar boleto</a>
        <a href="/nosotros">Acerca de Nosotros</a>
        <a href="/contacto">Contacto</a>
    </div>

    <h1>Nosotros</h1>
</body>
</html>
