<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta Taquillero</title>
    <link rel="stylesheet" href="taquillero.css">
</head>

<body>
    <header>
        <img src="/src/main/resources/static/logo.png" alt="Lineas Unidas">
        <nav>
            <a href="#">Inicio</a>
            <a href="/boleto">Comprar Boleto</a>
            <a href="/nosostros">Acerca de Nosotros</a>
            <a href="/contacto">Contacto</a>
            <a href="/login" class="btn-cerrar">Cerrar</a>
        </nav>
    </header>

    <main>
        <h2>Bienvenido Usuario Taquillero</h2>

        <section class="info-personal">
            <div class="formulario">
                <h3>Información Personal</h3>
                <label>Nombre</label>
                <input type="text" value="Nombre bd">

                <label>Correo Electrónico</label>
                <input type="email" value="usuario@gmail.com">

                <label>Número de Teléfono</label>
                <input type="tel" value="951 189 00 67">

                <label>Fecha de Nacimiento</label>
                <input type="date">

                <button class="btn">Editar Información</button>
            </div>
            <div class="imagen">
                <img src="/logo.png" alt="Camión" />

            </div>
        </section>


        <section class="boletos">
            <div class="reservarB">
                <h3>Boleto para el Cliente</h3>
                <label class="label-checkbox"><input type="checkbox"> Se aceptan los términos de cancelación</label>

                <label>Origen</label>
                <select id="origen">
                    <option>Selecciona el lugar de origen del viaje</option>
                    <option value="Oaxaca">CD. de Oaxaca</option>
                    <option value="Miahuatlán">Miahuatlán de Porfirio Díaz</option>
                </select>

                <label>Destino</label>
                <select id="destino">
                    <option>Selecciona el destino</option>
                    <option value="Oaxaca">CD. de Oaxaca</option>
                    <option value="Miahuatlán">Miahuatlán de Porfirio Díaz</option>
                </select>

                <label>Fechas disponibles</label>
                <input type="date">

                <label>Horario disponible</label>
                <select>
                    <option>Selecciona horario</option>
                </select>

                <button class="btn" onclick="confirmarAccion('reservar')">Reservar</button>
                <button class="btn green" onclick="confirmarAccion('vender')">Vender</button>
            </div>
            <div class="consultaCir">
                <label>Viajes en circulación</label>
                <button class="btn">Consultar</button>
                <img src="/urvan.png" alt="Urvan" width="370" style="opacity:0.5;" />

            </div>

        </section>

        <section>
            <h3>Historial de Boletos</h3>
            <table class="historial" id="tablaHistorial">
                <thead>
                    <tr>
                        <th>No. Boleto</th>
                        <th>Actividad</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha y Hora</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>23</td>
                        <td>CD. de Oaxaca</td>
                        <td>Miahuatlán de Porfirio Díaz</td>
                        <td>20 de Agosto 18:00</td>
                        <td><span class="precio">$800.00</span><br>Boleto Sencillo</td>
                    </tr>
                    <tr>
                        <td>109</td>
                        <td>Miahuatlán de Porfirio Díaz</td>
                        <td>CD. de Oaxaca</td>
                        <td>23 de Agosto 9:00</td>
                        <td><span class="precio">$800.00</span><br>Boleto Sencillo</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <div class="modal" id="modal">
        <div class="modal-content">
            <p id="modalMensaje"></p>

        </div>
    </div>


</body>
<script src="taquillero.js"></script>

</html>